extends /layout
prepend title
    title ss
block content
    -var title='asdd'
    p=langJson[lang].hello
    div#app
        img(src=`\${require(\`./img-${lang}.png\`)}`)
        a(href=`${viewPath}/home2`)
            |ggg
            |xx3333sss33 &nbsp
        div
            |#{langJson[lang].hello}

